BOT_TOKEN=8732428309:AAGxW2LhE4CA7hY31F_KGABlaxEePeHLgbA
ADMIN_IDS=8332860115
DATABASE_URL=sqlite+aiosqlite:///./artsecure.db
SUPPORT_CHAT_URL=https://t.me/your_support
NEWS_CHANNEL=@ArtSecureNews
RATE_LIMIT_SECONDS=1.0
PAYMENTS_MODE=ton
ESCROW_WALLET_ADDRESS=UQBTcM-QAi1bBCamyjnbsX4zuW_uKwbCfgyAd3COktWcSoQj
COLD_WALLET_ADDRESS=UQC2jMnywR6a_T-cYdRNoMIY947wn2rs1F66GjGRbHNZV5wV
ESCROW_MNEMONIC=nominee spray elevator cash bonus health quarter basic vehicle case ugly wolf father arch plate exercise fresh title portion pigeon piano guilt limit height
ESCROW_WALLET_VERSION=v5r1
ESCROW_JETTON_SEND_TON_AMOUNT=0.05
FIAT_BASE_CURRENCY=RUB
PAYMENT_RATE_SOURCE=manual
PAYMENT_INVOICE_TTL_MINUTES=15
PAYMENT_TOLERANCE_BPS=50
PAYMENT_PROVIDER_NAME=wallet
PAYMENT_API_KEY=
PAYMENT_API_SECRET=
TON_API_URL=https://tonapi.io/v2
TON_API_KEY=5788747e7e65a578eb9adc8d8fcf6086deadccfe3d9e7d9a9b217d7942e3d311
TON_API_INSECURE_SSL=0
TON_USDT_JETTON_MASTER=EQCxE6mUtQJKFnGfaROTKOt1lZbDiiX1kCixRv7Nw2Id_sDs
TON_NETWORK=mainnet
MANUAL_USDT_RATE_RUB=100.0
MANUAL_USDT_RATE_USD=1.0
MOCK_WALLET_BALANCE_USDT=10000.0
