aiogram>=3.4,<4
SQLAlchemy>=2.0,<3
aiosqlite>=0.20,<1
Pillow>=10,<12
reportlab>=4,<5
python-dotenv>=1.0,<2
aiohttp>=3.9,<4
certifi>=2024.0.0
tonutils>=2.0.1b2
pytoniq-core>=0.1,<1
tontools>=1.0.4
aiogram-tonconnect>=0.14.4
pytest>=8,<9
pytest-asyncio>=0.23,<1
